{% extends "users/base.html" %}
{% block title %}
    <h1 class="pagetitle"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</h1>
    <p>Project management for everyone.</p>
{% endblock %}
{% block content %}
    <p>Track project status, actions and deadlines.</p>
    {% if user.is_authenticated %}
        <p><a href="{% url 'myHome' %}">My Home Page</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Registered</a> users can create and manage their own content; anyone can browse and make use of the publicly shared information.</p>
    {% endif %}
    <p>Let's get started!</a></p>
{% endblock %}
